.title{
    font-weight: 400;
    font-size: 35px;
}
.date{
    margin: 25px 0px 25px 0px;
    font-size: 20px;
    font-weight: 300;
}

.rating_container{
    display: flex;
}
.rating{
    margin-top: 3px;
    margin-left: 5px;

}
.overview:hover{
    overflow-y: auto;
}
.overview{
    font-family:Roboto;
    font-weight: 400;
    font-size: 20px;
    height: 120px;
    overflow-y: hidden;
    margin-top: 10px;
}