body{
    color: white;
    font-family: Maximun impact;
}
::-webkit-scrollbar{
    background:transparent;
}

::-webkit-scrollbar-thumb:horizontal{
    background-color: rgab(0,0,0,0.61);
    border-radius: 10px;

}